@media only screen and (max-width: 1000px) {
    .dis{
        display: none;
    }
    .nav_bar_main{
        display: flex;
        flex-wrap: wrap;
       
    }
     .not_dis{
        display: block;
     }
     
  }

