*{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}
.container{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}
/* nav bar design begin here */
.nav_bar_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
}
.nav_bar_option>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;    
}
li{
    /* margin-left: 50px; */
    font-size: large;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    
    
}
.nav_bar_button_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav_bar_search_logo{
    margin-right: 45px;
    
}
.login_button{
    margin-right: 15px;
    padding: 10px;
    border: none;

}
.Register_button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;

}
.not_dis{
    display: none;
}
/* nav bar ends here */
/* second block css */
.green_color{
    color: green;
}
.frist_button{
    background-color: rgb(95, 211, 95);
    color: white;
    border: none;
    padding: 12px 18px;
    margin-top: 100px;
}
/* second block css */
    .main_block{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        flex: auto;
        flex-wrap: wrap;
    }
    .right_side{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: auto;
        flex-wrap: wrap;
    }
    .right_side_main_img{
        position: relative;
        left: 50px;
        top: 70px;
    }
    .mix_img{
        position: relative;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          background-color: white;
          text-align: center;
          bottom: 250px;
          right: 130px; 
          font-size: 15px;
          width: 270px;
          border-radius: 10px;
    }
    .mix_left{
        position: absolute;
        right: -30px;
        bottom: 220px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        font-size: 10px;
        font-weight: 0px;
    }
    .left_side_bar_img{
        border-radius: 0 70px 0px 0px;
    }
    .left_side{
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        
    }
    .small_image_zone{
        position: relative;
    }
    .img_pro_one{
left: 60px;
    }
    .img_pro_two{
       left: 35px; 
    }
    .img_pro_three{
        left: 10px;
    }
    .img_pro_four{
        right: 20px;
    }
    .img_pro_five{
     right: 50px;   
    }
    .text_main{
        font-size: 33px;
    }
.button_mian{

}