*{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif "important";
    
}

.container_kelash{
    font-family: "Open Sans";
    margin: 0px 50px;
    
}
/* nav bar design begin here */
.nav_bar_main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
}
.nav_bar_option>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;  
    justify-content: center;  
}
li{
    /* margin-left: 50px; */
    font-size: large;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    
    
}
.nav_bar_button_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav_bar_search_logo{
    margin-right: 45px;
    
}
.login_button{
    margin-right: 15px;
    padding: 10px;
    border: none;
    background-color: white;
    color: green;

}
.Register_button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;

}
.not_dis{
    display: none;
}
/* nav bar ends here */
/* second block css */

.green_color{
    color: green;
    font-size: 22px;
    font-weight: bold ;
}
.green_color_text{
    color: green;
}
.frist_button{
    background-color: rgb(95, 211, 95);
    color: white;
    border: none;
    padding: 12px 18px;
    margin-top: 100px;
}
/* second block css */
    .main_block{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        flex: auto;
        flex-wrap: wrap;
    }
    .right_side{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: auto;
        flex-wrap: wrap;
        background-image: url(/frist_container/background_image.png);
        background-position: right;
        background-repeat: no-repeat;
        border-radius: 10px 100px 0px 0px;
    }
    .right_side_main_img{
      position: relative;
    right: 35px;
        top: 70px; 
    }
    .mix_img{
        position: relative;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          background-color: white;
          text-align: center;
          bottom: 250px;
          right: 130px; 
          font-size: 15px;
          width: 270px;
          border-radius: 10px;
    }

    .mix_left{
        position: absolute;
        right: -30px;
        bottom: 220px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        font-size: 10px;
        font-weight: 0px;
    }
    .left_side_bar_img{
        border-radius: 0 70px 0px 0px;
    }
    .left_side{
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin-left: 20px;
        
    }
    .small_image_zone{
        position: relative;
    }
    .img_pro_one{
left: 60px;
    }
    .img_pro_two{
       left: 35px; 
    }
    .img_pro_three{
        left: 10px;
    }
    .img_pro_four{
        right: 20px;
    }
    .img_pro_five{
     right: 50px;   
    }
    .text_main{
        font-size: 33px;
    }
/* third block starts here */
.third_block{
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-around;   
 margin-top: 20px;
}
.third_block_elements{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* text-align: center; */
    background-color: rgb(199, 252, 249);
    padding: 8px 18px;
   
}

/* fourth section starts here */

/* .fourth_text_section h1{
    padding-right: 500px;
} */
.images_slider_one{
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 30px;
}

.green_button{
    background-color: green;
    border-radius: 50px;
    padding: 3px 20px;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fourth_text_section{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    /* margin-bottom: 50px; */
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.fourth_text_section h1{
    padding-right: 450px;
}
.fifth_text_section{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    flex: auto;
    flex-wrap: wrap;
}
.six_sliders{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: white;
    align-items: center;
}
.six_slider_second_div{
    display: flex;

    flex: auto;
    justify-content: space-between;
    align-items: center;
}
.six_slider_second_div h1{
    font-size: 20px;
    font-weight:lighter;
    padding: 10px 100px 0px 45px;
    word-spacing: 1px;
    font-weight: 0px;
    
}
.six_slider_third_div{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 10px 20px;
    font-size: 15px;
    margin-bottom: 20px;
}
.six_slider_third_div img{
    margin: 0px 5px;
} 
.last_before_slider{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.optional{
    display: flex;
    /* margin-right: 50px; */
    flex: auto;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-evenly;
}


.forth_part_left_div{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.forth_part_left_div p{
    margin-left: 15px;
    font-weight: bolder;
}
.optional_img{
    position: relative;
}
.optional_img_small{
    background-color: white;
    position: absolute;
text-align: center;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 padding: 10px;
 bottom: 100px;
 right: -35px;
}